.header {
    width: 90%;
    padding: 1.5rem 0;
    margin: 0 auto;
    background-color: transparent;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: var(--inter);
}

.header h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #54BD95;
    cursor: pointer;
}


.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2.5em;
}

.navbar ul li {
    font-weight: 500;
    color: #A6A6A6;
    cursor: pointer;
}


.navbar ul li:first-child {
    color: #000000;
}

.actions {
    display: flex;
    align-items: center;
    gap: 1em;
}

.loginBtn,
.signupBtn {
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    font-family: inherit;
    font-weight: 500;
    color: #A6A6A6;
    cursor: pointer;
    outline: none;
}

.signupBtn {
    background-color: #54BD95;
    color: #F8F8FA;
}

@media screen and (max-width: 768px) {
    .navbar ul, .actions {
        display: none;
    }
}

